@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Italianno&family=Leckerli+One&family=Pacifico&family=Protest+Riot&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* variables */
  --HEADER-BG:#6b123e; 
  --FOOTER-BG:#6b123e;
  --MAIN-BG:#fde4ce;
  --LINK-COLOR: #000;

  --SIDE_BAR-BG:#6b123e;
}

html{
  scroll-behavior: smooth;
}
/* *********************************Navbar in main.css************************ */
body{
min-height: 100vh;
/* background-color: #FFAA99; */
background-color: var(--MAIN-BG);
display: flex;
flex-direction: column;
}
header{
  position: sticky;
  top: 0px;
}

main{
  flex-grow: 1;
}

.menu-bar{
/*   background-color: #fff; */
  background-color: var(--HEADER-BG);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

}

.menu-bar li{
  list-style:none ;
}
 .menu-bar li > a{
  text-decoration: none;
color: var(--LINK-COLOR);
/* background-color: #fff; */

  font-weight: 700;
}

#logo{
  font-weight: 900;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-right: auto;
  color:#85ED5A;
}

.menu-btn{
  display: none;
}
.menu-btn:hover{
  cursor: pointer;

  }

  .hide{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    border: none;
  }
  .menu-btn > a > svg{
    background-color:#6b123e;
  }

    .hide:hover{
    cursor: pointer;
    color: blue;
  }

  .menu-bar a.active{
    background-color:#fff; 
    color: blue; 
    border-radius: 5px;
    padding: 5px;
  }

  .sub-menu-1{
    display:none ;
 
  }
  .sub1 > li > a{
    color: black;
    display: block;
    background-color: #fff;
  }
  /* *****************************Sub-menu of Menu in main.css********************** */
.menu-bar li:hover .sub-menu-1  {
    display: block;
    background-color: #6b123e;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 40px;
    padding: 5px;

    animation: slide-down 0.6s;

 
  }

  .menu-bar li:hover .sub-menu-1 ul li{
    border-bottom: 1px dashed #85ED5A;
    padding: 10px;
    width: 120px;
    text-align: left;
  }
  .menu-bar li:hover .sub-menu-1 ul li:last-child{
    border: none;
  }

  .menu-bar li:hover .sub-menu-1 ul li a{
    padding: 2px;
  }

  .sub-menu-1 a:hover{
    background-color: #fff;
    display: block;
    color: blue;

  }
/*   .sub-menu-1 ul{
    background-color: #fff;
  } */

  .menu-bar .sub-menu-1 a:hover{
padding: 5px;
border-radius: 5px;
  }
/* ****************************Side bar in main.css************************************************* */
.side-bar{
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  min-height: 100vh;

  display: none; /* was flex */
  flex-direction: column;
  align-items: center;
  background-color: var(--SIDE_BAR-BG);

  animation: slide-left 0.6s;
  
}

.side-bar li{
  list-style:none ;
  width: 100%;
  padding: 10px;
}

.side-bar a{
  display: block;
  text-decoration: none;
  color: black;
  background-color: white;
  font-weight: 700;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
}

.side-bar a:hover{
  color: blue;
  border-radius:5px ;
}

.side-bar .sub-menu-1 a{
  font-size: 15px;
}

#cross:hover{
  background-color: #000;
  animation: close-rotate 0.6s;
}
.sideBar-close{
  animation: slide-right 0.6s;
}
/* *****************************Sub-menu of Menu in menu.css********************** */

.side-bar li:hover .sub-menu-1{
  display: block;
  position: absolute;
  left: -145px;
  top: 220px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--SIDE_BAR-BG);
  padding: 5px;
  animation: sub-slide-left 0.6s;
  z-index:  -1;

}

 .side-bar li:hover .sub-menu-1 ul li{
  border-bottom: 2px dashed #85ED5A;
  padding: 10px;
  width: 140px;
  text-align: left;
  
}
.side-bar li:hover .sub-menu-1 ul li:last-child{
  border: none;
}
.side-bar li:hover .sub-menu-1 ul li a{
  padding: 2px;
}

/* ******************************************************************************** */
footer{
position: sticky;
bottom: 0px;
background-color: var(--HEADER-BG);

}
.footer{
/* background-color: #fff; */
background-color: var(--FOOTER-BG);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;

}

.footer a{
/*   color: black; */
color: #fff;
}

.fa-envelope{
  color: #FF8000;
}
.fa-phone-volume{
  color: #008000;
}
.fa-linkedin{
  color: rgb(0, 110, 255);
}
/* *********************************Media Query******************************* */
/* media query */
@media (max-width:480px){
  .side-bar{
    width: 100%;
    background-color: hsl(28, 88%, 68%);
  }

  .side-bar li a {
    border: 2px solid var(--HEADER-BG);
    border-radius: 10px;
  }

  .side-bar li:hover .sub-menu-1{
    left: 80px;
    top: 215px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
    animation: sub-slide-right 0.6s;

  }

}

@media (min-aspect-ratio: 7/4){
/* footer{
display: none;
} */

.side-bar{
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
}
.side-bar > li a {
 padding: 2px;
 text-align: center;
}

.side-bar > li:nth-child(1){
  order: 1;

}

.side-bar li:hover .sub-menu-1{
 position: absolute;
 top: 37px;
 left: 188px;
border: 2px solid #fde4ce;
border-top: none;

}
}

@media (max-width:768px){
.hide{
  display: none;
}
.menu-btn{
  display: block;
  border: 2px solid white;
  border-radius: 5px;
  /* background-color:#85ED5A; */
}
.menu-btn:hover{
  border: 2px solid blue;
}

}

@media (min-width:769px){
  .hide{
    font-size: 20px;
  }
  .menu-bar{
    gap:55px;
  }

  .menu-bar li > a , .menu-bar a.active{
padding-inline: 15px;
  }


}


@media (min-width:801px){
  .menu-bar:nth-child(6){
    display: none;
  }
  
}


